<!DOCTYPE html>

<HTML>
<HEAD>
    <title>{{title}}</title>
    <link rel= "icon" href= "/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</HEAD>
<BODY>
    <section class= "main-content">
        {{>header}}
        <p>{{message}}</p>
    </section>
    {{>footer}}
    <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</BODY>
</HTML>